/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@font-face {
    font-family: 'scientifica';
    src: url('/fonts/scientifica.ttf') format('truetype');
}

body {
    color: $foreground;
    font-family: scientifica;
    background-color: $background;
}

img {
    image-rendering: pixelated;
}

ul {
    list-style-type: square;
}

.center {
    text-align: center;
}

.blink {
    display: inline-block;
    animation: blinkCursor 1s step-end infinite;
}

@keyframes blinkCursor {
    50% {
        opacity: 0;
    }
}
